.contact {
  &__container {
    padding: 0 50px;

    padding: 0 50px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 1600px;

    .contact__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contact__left > * {
        margin-bottom: 2rem;
        font-weight: 300;
      }

      .contact__left {
        width: 40%;

        a {
          color: #3e512e;
        }

        .email-address {
          font-weight: 400;
        }
      }

      .contact__right {
        width: 40%;
        .contact__form {
          &-main input {
            width: 100%;
            display: block;
            margin-bottom: 40px;
            border: none;
            outline: none;
            padding: 14px;
            border: 1px solid $white;
            color: $white;
            font-size: 1rem;
            margin-top: 10px;
            background-color: $black;
          }
          &-main label {
            width: 100%;
            font-weight: 300;
          }
          &-main textarea {
            width: 100%;
            resize: none;
            display: block;
            margin-bottom: 30px;
            border: none;
            outline: none;
            padding: 14px;
            border: 1px solid $white;
            color: $white;
            font-size: 1rem;
            margin-top: 10px;
            background-color: $black;
          }
          button {
            width: 100%;
            display: block;
            border: none;
            outline: none;
            padding: 16px;
            background: #3e512e;
            border: 1px solid $white;
            color: $white;
            font-size: $font-med;
            font-weight: 600;
            cursor: pointer;
            background-color: $black;
            font-weight: 300;
          }
        }
      }
    }

    h1 {
      margin-bottom: 2rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    h1::before {
      content: "";
      background: #fff;
      width: 38px;
      height: 4px;
      display: block;
    }
  }
}

@media screen and (max-width: 1160px) {
  .contact {
    &__container {
      .contact__main {
        flex-direction: column;
        width: 100%;
        .contact__left {
          width: 100%;
          margin-bottom: 2rem;
        }

        .contact__right {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    min-height: 80vh;

    &__container {
      .contact__main {
        flex-direction: column;
        width: 100%;

        .contact__left {
          width: 100%;
        }

        .contact__right {
          width: 100%;
        }
      }
    }
  }
}
